<!DOCTYPE html>
<html>
<head>
  <title>SavedSearches</title>
  <%= stylesheet_link_tag    "saved_searches/application", :media => "all" %>
  <%= javascript_include_tag "saved_searches/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
